html,
body {
    height: 100%;

}

hr {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}

.fc-future{
    cursor:pointer;
}

.fc-past{
    cursor:no-drop;
}

.fc-today{
    cursor:no-drop;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 110px 15px 20px;
}

.footer {
    height: 80px;
    background: linear-gradient(to right, rgba(190,0,16,1),rgba(255,19,0,1), rgba(190,0,16,1));
    /*background-color: #f5f5f5;*/
    border-top: 1px solid #ddd;
    padding-top: 15px;
    color: #ffffff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.btn-danger{
    background-color: #f65544;
    color: #ffffff;
}

.btn-danger:hover,
.btn-danger:active {
  background: #b20000;
  color: #ffffff;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar {
  background: linear-gradient(to right, rgba(190,0,16,1),rgba(255,19,0,1), rgba(190,0,16,1));
/*  background-color: #f65544;*/
  border-color: #c0392b;
}
.navbar .navbar-brand {
  color: #ffffff;
  background-color: transparent;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e3e3e3;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-nav > li > a {
  color: #ffffff;
  background-color: transparent;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #e3e3e3;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #e3e3e3;
  
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #c0392b;
}

@media (max-width: 1600px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #a8a8a8;
    background-color: transparent;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #c0392b;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #c0392b;
  }

    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    #evento{
      display: none;
    }

    #horario{
      display: none;
    }

    #espacio-seleccionado{
      display: none;
    }

    #mensaje-espacios{
      color: #a94442;
    }

